@using TCC_Web.Models.Entities.User;

@{
	ViewData["Title"] = "Cadastrar Veículo";
}

@model Car

@{
	var pageShortTitle = "Novo Veículo";
	//var pageFullTitle = string.Format("{0}: {1}", Model.CustomerInfo.DisplayName, pageShortTitle);
	var pageFullTitle = string.Format("{0}: {1}", "Veículo", pageShortTitle);

	ViewBag.Title = pageFullTitle;
}

<div class="wrapper wrapper-content animated fadeInUp">
	<form method="post">
		@*@Html.HiddenFor(e => e.CustomerInfo.Id)*@
		<div class="ibox">
			<a class="collapse-link">
				<div class="ibox-title">
					<h5>Novo Estacionamento</h5>
					<div class="ibox-tools">
						<div type="button" class="btn btn-default btn-circle btn-outline btn-xs"><i class="fa fa-chevron-up"></i></div>
					</div>
				</div>
			</a>
			<div class="ibox-content">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label>Nome do Estacionamento *</label>
							@Html.TextBoxFor(m => m.Name, new { Class = "form-control", Placeholder = "Nome do Veículo" })
							@Html.ValidationMessageFor(m => m.Name, "", new { Class = "text-danger" })
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<label>Placa *</label>
							@Html.TextBoxFor(m => m.Plate, new { Class = "form-control", Placeholder = "Placa" })
							@Html.ValidationMessageFor(m => m.Plate, "", new { Class = "text-danger" })
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<label>Número *</label>
							@Html.TextBoxFor(m => m.Model, new { Class = "form-control", Placeholder = "Modelo" })
							@Html.ValidationMessageFor(m => m.Model, "", new { Class = "text-danger" })
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="ibox" style="margin-top: 10px">
			<div class="row">
				<div class="col-sm-12">
					<div class="pull-right">
						<button class="btn btn-sm btn-primary m-t-n-xs" type="submit" id="saveButton"><strong>Salvar</strong></button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
